// Fonts
$primaryFont: 'Museo 300';
$boldFont: 'Museo 700';
$khalifa: 'Khalifa';
$secondaryFont: Verdana, Geneva, sans-serif;
$baseFontSize: 17px;
$baseFontColor: darken(#919596, 20%);

// Colours
$primary: #c31a13;
$secondary: #820905;
$tertiary: #f7f2de;
$white: #f9f9ea;

$lightgrey: #f1f5f7; 
$white: #FFFFFE;  
$text: $baseFontColor;
$border: darken($lightgrey, 5%);
